nav{
    position: fixed;
    top:0;
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
    background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
}
nav a{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;

}
body{
    background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
    background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
}
.logo{
  
    margin-left:0px ;
    margin-top:70px ;
}
.go{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    margin-left:500px ;
    margin-top:-130px ;
    font-size:70px;
}
.cont{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    margin-left:460px ;
    margin-top:0px ;
    font-size:70px;
}
.numbir{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    margin-left:0px ;
    margin-top:0px ;
    font-size:70px;
}
.number{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    margin-left:0px ;
    margin-top:-70px ;
    font-size:70px;
}
form {
   

    max-width: 500px;
    padding: 30px;
    background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
    background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);

  }
  
  .control {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
    padding: 4px 10px;
  }
  
  button {
    display: inline-block;
    padding: 5px 20px;
    border: none;
    background-color: tomato;
    color: white;
    text-decoration: none;
  }
  .success-modal {
    display: none;
  }
  
  .success-modal.active {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    max-width: 600px;  
    padding: 30px;  
    background-color: white; 
  }
  
  .overlay {
    display: none;
  }
  
  .overlay.active {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-row {
    display: flex;
    align-items: center;
  }

  .modal-col-text {
    flex: 1 1 auto;
    font-size: 18px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center center;
    background-size: 30px 30px;
    text-decoration: none;
  }
  .vopros{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    margin-left:40px ;
    margin-top:0px ;
    font-size:60px;
  }
  .buy {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sigmar', cursive;
  }
  
  .row {
    flex-wrap: wrap;
    margin-left: 0px;


  }
  .roww{
    flex-wrap: wrap;
    margin-left: 400px;
    margin-top: -311px;
  }
.rowww{
    flex-wrap: wrap;
    margin-left: 800px;
    margin-top: -326px;
}
  .card {
    justify-content: center;
    display: block;
    background-color: white;
    text-decoration: none;
    width: 400px;
  }
  
  .card-image img {
    width: 100%;
  }
  
  .card-text {
    padding: 20px;
  }
  
  .card-title {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .card-desc {
    color: #777;
    font-size: 14px;
  }