body {
  position: relative;
  background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
  background: linear-gradient(90deg, #0462ac,#3880ac,#b3c5cb);
  font-size: 14px;
  color: #000;
}

    swiper-container {
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
      background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 85%;
      height: 85%;
      object-fit: cover;
    }

.zag1{
  position: relative;
  font-size: 35px;
  color:white;
  text-align: center;
  bottom: 5px;
}

.prem{
  display: flex;
  left:3.2%;
  position: relative;
  background-color: rgb(255, 255, 255);
  top:20px;
  width: 93.5%;
  height:265px;  
  border-radius: 25px; 
}

.foto1{
  position: relative;
  background-image:url("https://img.icons8.com/?size=1x&id=Wv3LuqL14IDf&format=png");
  width:62px;
  height:62px;
  background-repeat:no-repeat; 
  background-size: 100%;
  left:-170px;
  top:73.5px;
}

.text1{
  position: relative;
  font-size: 35px;
  left:445px;
  top:15px
}

.speed{
  position: relative;
  font-size: 23px;
  left:-250px;
  width:110px;
  top:140.5px; 
}

.qual{
  position: relative;
  font-size: 23px;
  left:-22px;
  width:110px;
  top:140.5px; 
}

.foto2{
  position: relative;
  background-image:url("https://img.icons8.com/?size=1x&id=99340&format=png");
  width:62px;
  height:62px;
  background-repeat:no-repeat; 
  background-size: 100%;
  left:49px;
  top:73.5px;
}

.foto3{
  position: relative;
  background-image:url("https://img.icons8.com/?size=1x&id=44458&format=png");
  width:62px;
  height:62px;
  background-repeat:no-repeat; 
  background-size: 100%;
  left:279px;
  top:86.5px;

}

.eval{
  position: relative;
  font-size: 23px;
  left:200px;
  width:110px;
  top:140.5px;
}

.zag{
  font-size: 53px;
  position: relative;
  left:43%;
  color:#F5952F;
  top:22px;
}

.opi{
  position: relative;
  font-size: 23.5px;
  color:white;
  text-align: center;
  width:895px;
  left:193px;
  top:25px;
}

.footer{
  position: relative;
  top:125px;
  background-color: #3880ac;
  border: 3px solid #0462ac;
}

.text4{
  position: relative;
  text-align: center;
  color:white;
  font-size:29px;
  height: 50px;
  top:10px; 
}

.o_nas{
  position: relative;
  bottom: 57px;
}









nav{
  position: fixed;
  top:0;
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
  background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
  z-index: 2;
}
nav a{
  position: relative;
  color: aliceblue;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block;

}
body{
  background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
  background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
}

.go{
  display: flex;


  font-size:70px;
}
.cont{
  display: flex;


  font-size:70px;
}
.numbir{
  display: flex;


  font-size:70px;
}
.number{
  display: flex;

  font-size:70px;
}
form {
 

  max-width: 500px;
  padding: 30px;
  background: -webkit-linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);
  background: linear-gradient(90deg, #0462ac,#3880ac,#54bcdc);

}

.control {
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px 10px;
}

button {
  display: inline-block;
  padding: 5px 20px;
  border: none;
  background-color: tomato;
  color: white;
  text-decoration: none;
}
.success-modal {
  display: none;
}

.success-modal.active {
  display: block;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  max-width: 600px;  
  padding: 30px;  
  background-color: white; 
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-row {
  display: flex;
  align-items: center;
}

.modal-col-text {
  flex: 1 1 auto;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center center;
  background-size: 30px 30px;
  text-decoration: none;
}
.vopros{
  display: flex;

  font-size:60px;
}
.buy {
  text-align: center;
  color:white;
  font-size: 42px;
}

.row {
  flex-wrap: wrap;
  margin-left: 0px;


}
.roww{
  flex-wrap: wrap;

}
.rowww{
  flex-wrap: wrap;

}
.card {
  justify-content: center;
  display: block;
  background-color: white;
  text-decoration: none;
  width: 400px;
}

.card-image img {
  width: 100%;
}

.card-text {
  padding: 20px;
}

.card-title {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.card-desc {
  color: #777;
  font-size: 14px;
}

.raw{
  position: relative;
  left:450px;
}